@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rådhuset<br />
    Arne Garborgs veg 30, 4344 Bryne<br />
    <abbr title="Phone">P:</abbr>
    +47 902 62 000
</address>

<address>
    <strong>IT:</strong> <a href="mailto:Support@example.com">IT@timekommune.no</a><br />
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@timekommune.no</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@timekommune.no</a>
</address>
