@{
    ViewData["Title"] = "Home Page";
}

<div>


    <h1>Vellkommen til Time Kommune</h1>



    <p>Dette er Time kommune sin nett side for ting som angår time kommune.</p>


    <img src="~/images/Time_kommune_korrigert.png" />






</div>
